@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>You can book hotel rooms in this system.</p>
<p>If the room you booked has been booked within the scheduled time, your reservation will fail.</p>
