@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jiangsu<br />
    Suzhou, Monash university<br />
    <abbr title="Phone">P:</abbr>
    18357186907
</address>

<address>
    <strong>Support:</strong>   <a href="taozhenyuan221@163.com">taozhenyuan221@163.com</a>
</address>