@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Booking your hotel rooms now!</p>
    <img src="~/Image/hotelbooking.jpg" style="width:1000px; height:750px"/>
    <p><br /> </p>
</div>

